@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --Inter: 'Inter', sans-serif;
    --Lexend: 'Lexend Deca', sans-serif;
}

body{
    font-size: 15px;
    background-color: var(--main-background);
    color: var(--white);
    font-family: var(--Inter);
    display: grid;
    justify-content: center;
}

.card{ 
    margin: 4em 1.5em;
    display: block;
    border-radius: 5px;
    background-color: var(--card-background);
    text-align: center;
    overflow: hidden;

}

.image{
    background-color: var(--accent);
    border-radius: 5px 5px 0 0;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: block;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.75; 
}

.content{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.4rem 0.5rem;
}

h1{
    font-family: var(--Inter);
}

span{
    color: var(--accent);
}

p{
    color: var(--stat-headings);

}

.title p{
    line-height: 1.5em;
    margin: 18px 0;
}

.title{
    margin-bottom: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--Lexend);
}

.list p{
    text-transform: uppercase;
    padding-top: 10px;
}

.statistic{
    margin-bottom: 20px;
}

  @media screen and (min-width: 650px) {
    img{
        content: url(./images/image-header-desktop.jpg);
        object-fit: cover;
        width: 100%;
        object-position: top;
        height: 538px;
    }

    .list{
        flex-direction: row;
    }
}

 @media screen and (min-width: 1024px){
    .card{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          max-width: 90vw;
          height: 450px;
          grid-template-areas: "a2 a1";
     }

     .image{
        border-radius: 0 5px 5px 0;
        grid-area: a1;

     }

     .content{
         justify-content: space-between;
         text-align: left;
         padding: 80px 100px 130px 80px;
         grid-area: a2;
     }

     h1{
         margin-bottom: 30px;
     }

     .title p{
    }

     .list{
         justify-content: space-between;
     }

     .statistic{
         margin-right: 50px;
     }
 }

